[submodule "stored-state"]
	path = stored-state
	#url = https://github.com/Ukraine-DAO/twitter-threads-state.git
	url = git@github.com:Ukraine-DAO/twitter-threads-state.git
	branch = main
[submodule "generated"]
	path = generated
	url = https://github.com/Ukraine-DAO/twitter-threads.git
	#url = git@github.com:Ukraine-DAO/twitter-threads.git
	branch = generated
