[submodule "stored-state"]
	path = stored-state
	url = https://github.com/rusni-pyzda/twitter-threads.git
	branch = state
[submodule "generated"]
	path = generated
	url = https://github.com/rusni-pyzda/twitter-threads.git
	branch = generated
