{{ define "subdir" -}}
{{ $d := . -}}
{{ range .Subdir.Subdirs -}}
    {{ $d.Indent }}* {{ with .Subdir.Title }}{{ . }}{{ else }}{{ .Name }}{{ end -}}{{ with .Subdir.Description }}: {{ . }}{{ end -}}
    {{ $sd := $d.Descend .Name .Subdir }}
{{ if not $sd.Subdir.Config.CollapseInParent }}{{ template "subdir" $sd }}{{ end }}{{ end }}{{ range .Subdir.Pages.Entries }}
    {{- $t := $d.Thread .Name }}
    {{- $d.Indent }}* [{{ $t.Title }}]({{ $d.PagePath .Name }}) (by [{{ $t.AuthorName }}](https://twitter.com/{{ $t.AuthorUsername }}))
{{ end -}}
{{ end -}}

# {{ with .Subdir.Title }}{{ . }}{{ else }}Twitter threads{{ end }}

{{- with .Subdir.Description }}

{{ . }}{{ end }}

{{ template "subdir" . -}}
