# {{ .Title }}

Author: [{{.AuthorName}}](https://twitter.com/{{.AuthorUsername}})  
*Links to this thread: [Twitter](https://twitter.com/{{.AuthorUsername}}/status/{{.ConversationID}}), [PingThread](https://pingthread.com/thread/{{.ConversationID}}), [ThreadReader](https://threadreaderapp.com/thread/{{.ConversationID}}.html), [Web Archive](https://web.archive.org/web/*/https://twitter.com/{{.AuthorUsername}}/status/{{.ConversationID}})*
{{ range .Blocks }}{{ if .Paragraph }}
{{ .Paragraph }}
{{ else if .QuotedTweet }}
{{ .QuotedTweet }}
{{- else if .Images }}
|{{ range .Images }} [![]({{ . }})]({{ . }}) |{{ end }}
|{{ range .Images }} :-: |{{ end }}
{{ end }}
{{- end -}}
