# {{ .Title }}
{{ range .Blocks }}{{ if .Paragraph }}
{{ .Paragraph }}
{{ else if .QuotedTweet }}
{{ .QuotedTweet }}
{{- else if .Images }}
|{{ range .Images }} [![]({{ . }})]({{ . }}) |{{ end }}
|{{ range .Images }} :-: |{{ end }}
{{ end }}
{{- end -}}
